body{
    margin: 0 !important;
    padding: 0 !important;
}
.parent_container{
    padding: 20px !important;
}

/* header-container */
.header_container{
    height: auto;
    text-align: center;
}
/* image_section */
.image_section{
    background: linear-gradient(to right, #515E6E, #867C7D, #62748A, #575668, #616370);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_section img {
    width: 100%;
    border-radius: 5px;
    height: auto;
  }
/* firstimage */
/* .firstimage{
    width: 90%;
    height: 45%;
    border-radius: 5px;
} */

/* content_section */
.content_section{
    background-color: #112836;
}
/* .first_row{
    margin-left: 80px !important;
    margin-top: 7% !important;
    width: 90%;
} */
/* header_Title */
.header_Title{
    color: #fff;
    font-size: 3.75rem;
    font-weight: 700;
}
.header_para{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    margin-top: 10% !important;
    width: 95% !important;
}
/* second_section */
.second_section{
    margin-left:auto !important;
    margin-right:auto !important;
   color: #fff;
}
.header_h1{
    color: #fff;
    font-size: 2rem;
}
.header_p{
    margin-left:auto;
    margin-right:auto;
 
   color: #fff;
    font-size: 1.2rem;
}

/* sec_page_title */
.second_page{
    height: auto;
    background-color: #112836;
    padding: 20px !important;
    
}
.second_page_Title{
    color: #fff;
    margin-top: 8%;
    font-size: 3.2rem;
    
}
.Seccond_container{
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}


/* pricing */
.pricing_titile{
    color: white;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
}
.pricing_content{
    color: #d7d7d7;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    margin-top: 10%;
}

/* solutions */
.solutions_title{
    color: white;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
}
.solutions_content{
    color: #d7d7d7;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    margin-top: 10%;
}

/* value */
.value_title{
    color: white;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    font-size: 24px; 
}
.value_content{
    color: #d7d7d7;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    font-size: 22px; 
    margin-top: 10%;
}

/* third_page */
.third_page{
    height: auto;
    background-color: #112836;
    
}

.third_page_img_Cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(163, 168, 186), rgb(144, 151, 173));
}
.third_page_img_Cont img{
    width: 100%;
    border-radius: 5px;
    height: auto;
}
.third_page_container{
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.third_page_title{
    margin-top: 7% !important;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
    
}
.third_page_content_container{
    margin-top: 1% !important;
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-bottom: 7%;
}
.content_ol {
    counter-reset: list-counter; 
    list-style: none; 
  }
  
  .content_ol li {
    counter-increment: list-counter; 
    margin-top: 20px;
    margin-bottom: 10px; 
    padding-left: 50px; 
    position: relative; 
    color: #fff;
    font-size: 1.2rem;
  }
  .content_ol p{
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(209, 209, 209);
    font-size: 1rem;
  }
  
  .content_ol li::before {
    content: counter(list-counter) " "; 
    font-weight: bold; 
    font-size: 1.2em; 
    position: absolute; 
    left: 0; 
    color: #c4c4c4; 
    background-color: #284657;
    border-radius: 2px;
    padding: 0px 8px 0 8px;
  }
  
  .content_ol p {
    margin: 5px 0 0 0; 
  }
/* fourth_page */
.fourth_page{
    height: auto;
    background-color: #112836;
}
.fourth_page_container{
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}
.fourth_page_title{
    color: #fff;
    padding: 5px;
    font-size: 2.75rem;
    font-weight: 300;
    margin-bottom: 6% !important;
}
.content_boxes{
    margin-bottom: 1%;
    padding: 10px;
    background-color: #2c4b5f;
    border-radius: 5px;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.3);

}
.content_boxes_title{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 95%;
    color: #eaeaea;
    font-size: 1.2rem;
}
.content_boxes_para{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 95%;
    color: #eaeaea;
    font-size: 1rem;
}
/* fourth_page_img_container */
.fourth_page_img_container{
    background: linear-gradient(to right, #f7f7f7, #eef8ea, #f7e8c6, #f8d7d7);
    display: flex;
    justify-content: center;
    align-items: center;

}
.fourth_page_img_container img{
    width: 95%;
    border-radius: 5px;
    height: auto;
}

/* fifth_page */
/* first section */
.fifth_page{
    height: auto;
    background-color: #112836;
}
.fifth_page_img_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #004d99, #b041cf, #83ab16, #004d99);

}
.developmentProcess{
    width: 95%;
    border-radius: 5px;
    height: auto;
}
/* second section */
.fifth_page_container{
    width: 90% !important;
    margin-top: 5% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.fifth_page_title{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
}
.fifth_cont_ol{
    margin-top: 5% !important;
    padding: 10px;
    counter-reset: list-counter; 
    list-style: none; 
}
.fifth_cont_li{
    padding: 10px;
    color: #fff;
    counter-increment: list-counter; 
    margin-top: 20px;
    margin-bottom: 8px; 
    padding-left: 100px; 
    position: relative; 
    color: #fff;
    font-size: 1rem;
    
}
.fifth_cont_li::before{
    content: counter(list-counter) " "; 
    position: absolute;
    left: 0;
    top: 160%;
    transform: translateY(-50%);
    width: 70px; 
    height: 120px; 
    background-color: #2c4b5f; 
    color: #fff; 
    text-align: center;
    line-height: 110px; 
    clip-path: polygon(50% 15%, 100% 0, 100% 84%, 48% 100%, 51% 100%, 0 84%, 0 0);
    /* transform: rotate(270deg); */
}
.fifth_cont_p{
    padding: 10px;
    color: #fff;
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(209, 209, 209);
    font-size: 1rem;
}







/* mobile view  */
@media (max-width: 768px) {
    .header_Title {
      font-size: 2rem;
    }

    .header_para,
    .header_h1,
    .header_p {
      font-size: 1.5rem;
    }
    /* second page */
    .second_page_Title{
        font-size: 1.75rem;
    }
    .pricing_titile,
    .solutions_title,
    .value_title {
        font-size: 1.5rem;
    }
    .pricing_content,
    .solutions_content,
    .value_content{
        font-size: 1.3rem;
    }
    /* third page */
    .third_page_title{
        font-size: 2rem;
    }
    .content_ol li{
        font-size: 1rem;
    }
    .content_ol p{
        font-size: 1rem;
    }
    /* fourth page */
    .fourth_page_title{
        font-size: 2rem;
    }
    .content_boxes_title{
        font-size: 1rem;
    }
    .content_boxes_para{
        font-size: 1rem;
    }
    .fifth_page_title{
        font-size: 1.2rem;
    }
    .fifth_cont_li{
        font-size: 1rem;
    }
    .fifth_cont_p{
       font-size: .85rem;
    }
  }

  /* @media (min-width: 992px) {
    .header_Title {
      font-size: 4rem;
    }

    .header_para,
    .header_h1,
    .header_p {
      font-size: 2rem;
    }
  } */
