body{
    margin: 0 !important;
    padding: 0 !important;
}

/* header-container */
.header_container{
    height: auto;
}
/* image_section */
.image_section{
    background: linear-gradient(to right, #515E6E, #867C7D, #62748A, #575668, #616370);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* firstimage */
.firstimage{
    width: 90%;
    height: 45%;
    border-radius: 5px;
}

/* content_section */
.content_section{
    background-color: #112836;
}
.first_row{
    margin-left: 80px !important;
    margin-top: 7% !important;
    width: 90%;
}
/* header_Title */
.header_Title{
    width: fit-content !important;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
}
.header_para{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    margin-top: 10% !important;
    width: 95% !important;
}
/* second_section */
.second_section{
    width: 95% !important;
}
.header_h1{
    width: fit-content !important;
    margin-left: 10%;
    color: #fff;
    font-size: 46px;
}
.header_p{
    width: fit-content !important;
    margin-left: 12%;
    color: #fff;
}

/* sec_page_title */
.second_page{
    height: auto;
    background-color: #112836;
}
.second_page_Title{
    color: #fff;
    margin-top: 10%;
    width: fit-content;
    margin-left: 5%;
}
/* pricing */


.pricing_titile{
    color: white;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    font-size: 24px;
}
.pricing_content{
    color: #d7d7d7;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    font-size: 22px;
    margin-top: 10%;
}

/* solutions */
.solutions_title{
    color: white;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 15%; */
    font-size: 24px;
}
.solutions_content{
    color: #d7d7d7;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 15%; */
    font-size: 22px;
    margin-top: 10%;
}

/* value */
.value_title{
    color: white;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 15%; */
    font-size: 24px; 
}
.value_content{
    color: #d7d7d7;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 15%; */
    font-size: 22px; 
    margin-top: 10%;
}

/* third_page */
.third_page{
    height: 100vh;
    background-color: #112836;
}







