<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bussines Website</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    />
  </head>
  <body>
    <div class="container-fluid parent_container">
        <!-- first page -->
      <div class="row header_container">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 image_section">
          <img
            src="../static/images/firstimage.png"
            alt="firstimage"
            class="firstimage"
          />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 content_section">
          <div class="row first_row">
            <h1 class="header_Title mt-1">
              <p>Elevate Your
                Business with Our
                Web Solutions
              </p>
            </h1>

            <p class="header_para">
              Unlock the full potential of your business with our cutting edge web
              solutions. Our experienced team will create a stunning, edge web
              stunning, responsive website that captivates your customers and
              drives and drives your success.
            </p>
            <div class="row text-center second_section">
                <h1 class="header_h1">Website Only at RS 2500</h1>
                <p class="header_p ">for first 50 customers </p>
            </div>
            
          </div>
        </div>
      </div>
      <!-- secont page -->
       <div class="row mt-2 second_page">
        <div class="Seccond_container row">
          <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-5">
            <h1 class="second_page_Title">Affordable Pricing, Uncompromising Quality
            </h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-5">
           <div class="pricing_container mt-4">
            <h6 class="pricing_titile">Transparent Pricing</h6>
            <p class="pricing_content">Our pricing structure is 
                straightforward and tailored to your 
                budget. No hidden fees or surprises 
                – just reliable, high-quality services 
                at a price that works for you.</p>
           </div> 
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-5">
            <div class="solutions_container mt-4">
                <h6 class="solutions_title">Custom Solutions</h6>
                <p class="solutions_content">We understand that every business 
                    business is unique. That's why we 
                    we offer fully customizable web 
                    solutions to ensure your online 
                    presence is a perfect fit for your 
                    needs.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-5">
            <div class="value_container mt-4">
                <h6 class="value_title">Exceptional Value</h6>
                <p class="value_content">Our combination of affordable 
                    pricing and unparalleled expertise 
                    delivers exceptional value that will 
                    elevate your business and help you 
                    stand out from the competition.
                </p>
            </div>
        </div>

        </div>  
       </div>
       <!-- third page -->
        <div class="row mt-2 third_page">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12 third_page_img_Cont">
            <img src="../static/images/responsive.png" alt="responsive_img" class="responsive_img">
          </div>
          
            <div class="col-12 col-sm-12 col-lg-8 col-md-8">
              <div class="row third_page_container">
                <h1 class="third_page_title">Captivating Designs, Seamless Experiences</h1>
              </div>
              <div class="row third_page_content_container">
                <ol class="content_ol">
                  <li>Visually Stunning </li>
                  <p>Our web designs are both aesthetically pleasing and highly functional, ensuring your website leaves a 
                    lasting impression on your visitors.
                  </p>
                  <li>Mobile-Friendly </li>
                  <p>With responsive design, your website will adapt seamlessly to any device, providing a smooth, user
                    smooth, user-
                    -
                    friendly experience on the go.
                  </p>
                  <li>Intuitive Navigation</li>
                  <p>
                    We prioritize intuitive navigation, making it easy for your customers to find the information they need 
                    information they need and take the desired actions.
                  </p>
                  <li>Conversion-Driven </li>
                  <p>Our web solutions are designed to optimize conversions, guiding your customers through the buyer's 
                    through the buyer's journey and driving measurable results.
                  </p>
                </ol>
              </div>
            </div>
        </div>
        <!-- fourth page -->
        <div class="row mt-2 fourth_page">
          <!-- first section -->
          <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="row fourth_page_container">
              <h1 class="fourth_page_title">Empowering Your Business Growth </h1>

              <!-- content boxes -->
               <div class="content_boxes">
                <p class="content_boxes_title">Increased Visibility</p>
                <p class="content_boxes_para">With a professional web presence, your business will enjoy greater visibility, attracting new customers 
                  new customers and expanding your reach.
                </p>
               </div>

               <div class="content_boxes">
                <p class="content_boxes_title">Enhanced Credibility </p>
                <p class="content_boxes_para">A well-designed website signals to your customers that you are a trustworthy and established brand, 
                  boosting your credibility.
                </p>
               </div>

               <div class="content_boxes">
                <p class="content_boxes_title">Improved Conversions</p>
                <p class="content_boxes_para">Our web solutions are optimized to drive conversions, transforming website visitors into loyal 
                  loyal customers and generating tangible results.
                </p>
               </div>

               <div class="content_boxes">
                <p class="content_boxes_title">Competitive Edge </p>
                <p class="content_boxes_para">Stay ahead of the competition by leveraging a modern, user-friendly website that sets you apart in 
                  you apart in your industry.                  
                </p>
               </div>

           </div>
          </div>
          <!-- second section -->
          <div class="col-lg-4 col-md-4 col-sm-12 col-12 fourth_page_img_container">
            <img src="../static//images/chart.png" alt="chart" class="chart_img">
          </div>
        </div>
        <!-- fifth page -->
         <div class="row mt-2 fifth_page">
            <!-- first image section -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 fifth_page_img_container">
              <img src="../static//images/developmentProcess.png" alt="developmentProcess" class="developmentProcess">
            </div>
            <!-- second content section -->
             <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <div class="row fifth_page_container">
                <h1 class="fifth_page_title">Our Proven Web Development Process</h1>

                <ol class="fifth_cont_ol">
                  <li class="fifth_cont_li">Discovery</li>
                  <p class="fifth_cont_p">We start by understanding your business, goals, and target audience to create
                    a strategic plan.
                  </p>
                  <li class="fifth_cont_li">Design </li>
                  <p class="fifth_cont_p">Our designers craft a visually stunning and user-friendly website tailored to 
                    your brand.
                  </p>
                  <li class="fifth_cont_li">Development</li>
                  <p class="fifth_cont_p">Our skilled developers bring your website to life, ensuring seamless functionality and 
                    and performance.
                  </p>
                  <li class="fifth_cont_li">Launch</li>
                  <p class="fifth_cont_p">We seamlessly deploy your new website, providing comprehensive training and ongoing 
                    ongoing support.
                  </p>
                </ol>

              </div>
             </div>
         </div>
         <!-- sixth page -->
         <div class="row mt-2 sixth_page">
            <!-- first section -->
             <div class="col-lg-8 col-md-8 col-sm-12 col-12 sixth_page_container">
                <div class="row sixth_page_title_cont">
                  <h1 class="sixth_page_title">Ready to Elevate Your Online 
                    Presence?
                  </h1>
                </div>

                <div class="row tag_container">
                  <div class="col-lg-3 col-md-3 col-sm-12 col-12 first_tag"><p>Get..</p></div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12 secnd_tag"><p>Take the first step to transfor...</p></div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-12 third_tag"><p>Sched...</p></div>
                </div>
             </div>
             <!-- second section -->
              <div class="col-lg-4 col-md-4 col-sm-12 col-12 sixth_page_img_cont">
                <img src="../static//images/website.png" alt="website" class="website_img">
              </div>
         </div>
    </div>

    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/controller.js"></script>
  </body>
</html>
