<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bussines Website</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    />
  </head>
  <body>
    <div class="container-fluid ">
        <!-- first page -->
      <div class="row header_container">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 image_section">
          <img
            src="../static/images/firstimage.png"
            alt="firstimage"
            class="firstimage"
          />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 content_section">
          <div class="row first_row">
            <h1 class="header_Title mt-1">
                <span>Elevate Your Business</span>
                <span class="mt-5">Business with Our</span>
                <span class="mt-5">Web Solutions</span>
            </h1>

            <p class="header_para">
              Unlock the full potential of your business with our cutting edge web
              solutions. Our experienced team will create a stunning, edge web
              stunning, responsive website that captivates your customers and
              drives and drives your success.
            </p>
            <div class="d-flex flex-column second_section">
                <h1 class="header_h1">Website Only at RS 2500</h1>
                <p class="header_p d-flex">for first 50 customers </p>
            </div>
            
          </div>
        </div>
      </div>
      <!-- secont page -->
       <div class="row mt-2 second_page">
            <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                <h1 class="second_page_Title">Affordable Pricing, Uncompromising Quality
                </h1>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-5">
               <div class="pricing_container mt-4">
                <h6 class="pricing_titile">Transparent Pricing</h6>
                <p class="pricing_content">Our pricing structure is 
                    straightforward and tailored to your 
                    budget. No hidden fees or surprises 
                    – just reliable, high-quality services 
                    at a price that works for you.</p>
               </div> 
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-5">
                <div class="solutions_container mt-4">
                    <h6 class="solutions_title">Custom Solutions</h6>
                    <p class="solutions_content">We understand that every business 
                        business is unique. That's why we 
                        we offer fully customizable web 
                        solutions to ensure your online 
                        presence is a perfect fit for your 
                        needs.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-5">
                <div class="value_container mt-4">
                    <h6 class="value_title">Exceptional Value</h6>
                    <p class="value_content">Our combination of affordable 
                        pricing and unparalleled expertise 
                        delivers exceptional value that will 
                        elevate your business and help you 
                        stand out from the competition.
                    </p>
                </div>
            </div>
       </div>
       <!-- third page -->
        <div class="row mt-2 third_page">

        </div>
    </div>

    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/controller.js"></script>
  </body>
</html>
